/* html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    width: 100%;
}

h2,h1, button
{
    font-family: "Montserrat", sans-serif;
}

header
{
    padding: 20px;
    flex-shrink: 1;
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    min-height: 624px;
    max-height: 624px;
    background-image: url(../images/Foto\ Perro\ escalera.png);
    flex-direction: column;
}

.container
{
    display: flex;
    justify-content: space-evenly;
}

.mg-tp-auto
{
    margin-top: auto;
}

.small-Gap
{
    gap: 20px;
}

#callToAction
{
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#mascotislaTitle, #mascotislaLogo
{
    align-self: start;
    margin-right: auto;
}

#pimLogo
{
    align-self: start;
    margin-left: auto;
}

button
{
    border-radius: 12px;
    min-height: 50px;
    max-height: 70px;
    max-width: 200px;
    font-size: 16pt;
    stroke: none;
    margin: 10px;
} */

#mascotislaTitle, #callToAction
{
     color: white;
}

#callToAction
{
    font-size: 6rem;
}

.height-equals-bg
{
    min-height: 604px;
    max-height: 604px;
}
